- name: Update system packages
  ansible.builtin.dnf:
    update_cache: true

- name: Install required packages
  ansible.builtin.dnf:
    name:
      - git
      - nodejs
      - npm
      - python3-pip
    state: present
  tags: ["packages"]

- name: Clone project repository
  ansible.builtin.git:
    repo: "{{ project_repo_url }}"
    dest: "{{ project_dir }}"
    version: "main"
    force: true

- name: Download MySQL Yum repository RPM
  ansible.builtin.get_url:
    url: https://dev.mysql.com/get/mysql80-community-release-el9-1.noarch.rpm
    dest: /tmp/mysql80-community-release-el9-1.noarch.rpm
    mode: '0644'

- name: Install MySQL Yum repository
  ansible.builtin.dnf:
    name: /tmp/mysql80-community-release-el9-1.noarch.rpm
    state: present
    disable_gpg_check: true

- name: Install MySQL Community Client
  ansible.builtin.dnf:
    name: mysql-community-client
    state: present
