- name: Update system packages
  ansible.builtin.apt:
    update_cache: yes
    upgrade: dist

- name: Install required packages
  ansible.builtin.apt:
    name:
      - git
      - nodejs
      - npm
      - python3-pip
      - mysql-client        # for connecting to Azure MySQL Flexible Server
    state: present
  tags: ["packages"]

- name: Clone project repository
  ansible.builtin.git:
    repo: "{{ project_repo_url }}"
    dest: "{{ project_dir }}"
    version: "main"
    force: true
